<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/custom/sign up.css"> -->

    <link rel="stylesheet" href="css/custom/login.css">

    <style>
        .row.register-form-container>* {
            width: unset;
        }
    </style>
    <title>TAUSI </title>
</head>

<body class="justify-content-center">

    <div class="container row justify-content-center register-form-container">
        <section class="register-form">
            <div class="form-container" style="max-width: 300px;">
                <div class="image-holder"></div>
                <form method="post">
                    <h2 class="text-center"><strong>Create</strong> an account.</h2>
                    <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="first Name" />
                    </div>
                    <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="last name" />
                    </div>
                    <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" /></div>
                    <div class="mb-3"><input class="form-control" type="password" name="password"
                            placeholder="Password" />
                    </div>
                    <div class="mb-3"><input class="form-control" type="password" name="password-repeat"
                            placeholder="Password (repeat)" /></div>
                    <div class="mb-3">
                        <div class="form-check"><label class="form-check-label"><input class="form-check-input"
                                    type="checkbox" />I agree to the license terms.</label></div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Sign Up</button>
                        <hr>
                        You already have an account? Login <a href="/login.html"> here.</a>
                        <HR>
                        <p class="mt-5 mb-3 text-muted">&copy; TAUSI-2022</p>
                </form>
            </div>
        </section>
    </div>

</body>

</html>