<!-- prettier-ignore -->
</div>
<!-- <html>
	<body> -->
		<!-- ##### Newsletter Area Start ##### -->
		<section class="newsletter-area section-padding-100-0">
			<div class="container">
				<div class="row align-items-center">
					<!-- Newsletter Text -->
					<div class="col-12 col-lg-6 col-xl-7">
						<div class="newsletter-text mb-100">
							<h2>Subscribe to TAUSI amazing <span> Discounts</span></h2>
							<p>
								Tausi provides customers with time to time Discounts, stay
								tuned!!.
							</p>
						</div>
					</div>
					<!-- Newsletter Form -->
					<div class="col-12 col-lg-6 col-xl-5">
						<div class="newsletter-form mb-100">
							<form action="#" method="post">
								<input
									type="email"
									name="email"
									class="nl-email"
									placeholder="Your E-mail"
								/>
								<input type="submit" value="Subscribe" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ##### Newsletter Area End ##### -->

		<!-- ##### Footer Area Start ##### -->
		<footer class="footer_area clearfix">
			<div class="container">
				<div class="row align-items-center">
					<!-- Single Widget Area -->
					<div class="col-12 col-lg-4">
						<div class="single_widget_area">
							<!-- Logo -->
							<div class="footer-logo mr-50">
								<a href="index.html"
									><img src="img/core-img/tausi_logo" alt=""
								/></a>
							</div>
							<!-- Copywrite Text -->
							<p class="copywrite">
								
								Copyright ©
								<script>
									document.write(new Date().getFullYear());
								</script>
								2022 All rights reserved | This template is made with
								<i style="color: red;" class="fa fa-heart" aria-hidden="true"></i> by
								<a href="#" target="_blank">GJK</a>
								&amp; Re-distributed by
								<a href="#" target="_blank">GJK</a>
								
							</p>
						</div>
					</div>
					<!-- Single Widget Area -->
					<div class="col-12 col-lg-8">
						<div class="single_widget_area">
							<!-- Footer Menu -->
							<div class="footer_menu">
								<nav class="navbar navbar-expand-lg justify-content-end">
									<button
										class="navbar-toggler"
										type="button"
										data-toggle="collapse"
										data-target="#footerNavContent"
										aria-controls="footerNavContent"
										aria-expanded="false"
										aria-label="Toggle navigation"
									>
										<i class="fa fa-bars"></i>
									</button>
									<div class="collapse navbar-collapse" id="footerNavContent">
										<ul class="navbar-nav ml-auto">
											<li class="nav-item active">
												<a class="nav-link" href="index">Home</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="shop">Shop</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="product-details"
													>Product</a
												>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="cart">Cart</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="checkout">Checkout</a>
											</li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- ##### Footer Area End ##### -->

		<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
		<script src="js/jquery/jquery-2.2.4.min.js"></script>
		<!-- Popper js -->
		<script src="js/popper.min.js"></script>
		<!-- Bootstrap js -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Plugins js -->
		<script src="js/plugins.js"></script>
		<!-- Active js -->
		<script src="js/active.js"></script>
		<!-- custom javascript file -->
		<script src="js/main.js" type="module"></script>
		<script src="js/content.js" type="module"></script>
	</body>
</html>
