<%- include ("header") %>

<!-- Header Area End -->
			<div class="cart-table-area section-padding-100">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 col-lg-8">
							<div class="checkout_details_area mt-50 clearfix">
								<div class="cart-title">
									<h2>Login</h2>
								</div>
								<form id="login_form">
									<!-- <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->

									<div class="form-floating">
										<div class="col-md-12 mb-3">
											<label for="email">Email address</label>
											<input
												type="email"
												class="form-control"
												id="email"
												placeholder="name@example.com"
												required
											/>
										</div>
									</div>
									<div class="form-floating">
										<div class="col-md-12 mb-3">
											<label for="password">Password</label>
											<input
												type="password"
												class="form-control"
												id="password"
												placeholder="Password"
												required
											/>
										</div>
									</div>

									<div class="checkbox mb-3">
										<label>
											<input
												type="checkbox"
												id="rem_check"
												value="remember-me"
											/>
											Remember me
										</label>
									</div>

									<div class="col-md-12 mb-3">
										<button
											id="login_sub_btn"
											class="btn amado-btn w-50 justify-content-center"
											type="submit"
										>
											Sign in
										</button>
									</div>
									<hr />
									Don't have account ?
									<a href="registration" class="btn"> Sign Up </a>
									<hr />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--prettier-ignore-->
		</div>

		<script src="js/jquery/jquery-2.2.4.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/active.js"></script>
		<!-- custom javascript file -->
		<script src="js/custom/utils.js" type="module"></script>
		<script src="js/custom/auth.js" type="module"></script>
		<script src="js/custom/checkout.js" type="module"></script>
		<script src="js/custom/get-cart.js" type="module"></script>
		<script src="js/custom/index_page.js" type="module"></script>
		<script src="js/custom/shop-prods.js" type="module"></script>
		<script src="js/custom/single-product.js" type="module"></script>
		<script src="js/custom/main.js" type="module"></script>
	</body>
</html>
